<h1>Edit User</h1>

<%= form_with model: @user, local:true do |form| %>
<%= form.label :username %>
<%= form.text_field :username %>

<%= form.label :email %>
<%= form.text_field :email %>

<%= form.submit %>
<% end %>
