<%= form_with(model: @post) do |form| %>
<div>
  <%= form.label :title %>
  <%= form.text_field :title, class:"form-control" %>
</div>

<p>
  <%= form.label :content %>
  <%= form.text_area :content, rows:"5", class:"form-control" %>
</p>
<p>
  <%= form.label :user_id %>
  <%= form.collection_select :user_id, User.all, :id, :username, include_blank: "選択して下さい" %>
</p>
<p>
  <div class="field">
    <%= form.label :post_category %><br>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :category_name do |cb| %>
    <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
   <% end %>
  </div>
</p>
<p class="text-center">
  <%= form.submit class:"btn btn-outline-success" %>
</p>
<% end %>
